<div class="container">

  <div id="content">
    <h1>Donate</h1>

    <ol class="progress">
      <li class="active"><a href="#amount" data-toggle="tab">Amount</a></li>
      <li><a href="#name" data-toggle="tab">Name</a></li>
      <li><a href="#payment" data-toggle="tab">Payment</a></li>
    </ol>
    <form novalidate autocomplete="on" id="donate-form" class="tab-content">
    
      <input type="hidden" name="description" value="Website Donation">

    <fieldset id="amount" class="tab-pane fade in active">
      <legend>Select an amount:</legend>
      <label class="checkbox inline btn btn-primary btn-large">
        <input type="radio" name="amount" value="1500" tabindex="10" id="amount-15">
        $15
      </label>
      <label class="checkbox inline btn btn-primary btn-large">
        <input type="radio" name="amount" value="3500" tabindex="11" id="amount-35">
        $35
      </label>
      <label class="checkbox inline btn btn-primary btn-large">
        <input type="radio" name="amount" value="5000" tabindex="12" id="amount-50">
        $50
      </label>
      <label class="checkbox inline btn btn-primary btn-large">
        <input type="radio" name="amount" value="10000" tabindex="13" id="amount-100">
        $100
      </label>
      <label class="checkbox inline btn btn-primary btn-large">
        <input type="radio" name="amount" value="25000" tabindex="14" id="amount-250"> 
        $250
      </label>
      <label class="checkbox inline btn btn-primary btn-large">
        <input type="radio" name="amount" value="50000" tabindex="15" id="amount-500">
        $500
      </label>
      <label class="checkbox inline btn btn-primary btn-large">
        <input type="radio" name="amount" value="100000" tabindex="16" id="amount-1000">
        $1000
      </label>
      <input type="text" placeholder="Other Amount" class="input-donate">
    </fieldset> 
    
    <fieldset id="name" class="tab-pane fade">
      <label for="paymentName">Your name</label>
      <input type="text" name="name" id="paymentName" placeholder="Enter your name" autocompletetype="name" autocapitalize="words" autocorrect="off" spellcheck="off" required="">
      <label for="email">Your email</label>
      <input type="text" name="email" placeholder="Enter your email" autocorrect="off" spellcheck="off" required="">
      <button type="button" id="name-next-button" class="btn btn-primary btn-large">Next =></button>
    </fieldset>
    
    <fieldset id="payment" class="tab-pane fade">
      <div class="message"></div>

      <div class="number">
        <label for="paymentNumber">Card number</label>
        <input type="text" id="paymentNumber" placeholder="• • • •   • • • •   • • • •   • • • •" data-placeholder="Card number" autocompletetype="cc-number" required="" data-numeric="">
        <div class="placeholder"></div>
        <div class="type"></div>
      </div>

      <div class="expiry">
        <label for="paymentExpiry">Expires</label>
        <input type="text" id="paymentExpiry" placeholder="MM / YY" autocompletetype="cc-exp" maxlength="9" pattern="\d*" data-numeric="" required="">
      </div>



      <div class="cvc">
        <label for="paymentCVC">Card code</label>
        <input type="text" id="paymentCVC" placeholder="CVC" autocompletetype="cc-csc" maxlength="4" pattern="\d*" autocomplete="off" data-numeric="" required="">
      </div>
      <h2 class="validation"></h2>
      <button type="submit" id="donate-button" class="btn btn-primary btn-large">Donate</button>
      
    </fieldset>    
    
    </form>
    <div id="response"></div>
    
    <script>

    </script>
  </div>
</div>
