<!doctype html>
<html>
  <head>
    <title>Dd Donations</title>
    <script src="https://js.stripe.com/v1/"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
    <script src="lib/jquery.payment.js"></script>
    <script src="lib/bootstrap.js"></script>
    <script src="js/donate.js"></script>
    <link href="css/bootstrap.css" media="screen" rel="stylesheet" type="text/css">
    <link href="css/custom.css" media="screen" rel="stylesheet" type="text/css">
    <style type="text/css" media="screen">
      input.invalid {
        border: 2px solid red;
      }

      .validation.failed:after {
        color: red;
        content: 'Validation failed';
      }

      .validation.passed:after {
        color: green;
        content: 'Validation passed';
      }
    </style>
</head>
<body>
  <%= yield %>
  <script type="text/javascript">
  Stripe.setPublishableKey('<%= settings.publishable_key %>');
  </script>
</body>
</html>
