<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Dd Donations</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    
    <script src="https://js.stripe.com/v1/"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
    <script src="lib/jquery.payment.js"></script>
    <script src="lib/bootstrap.js"></script>
    <script src="js/donate.js"></script>
    <link href="css/bootstrap.css" media="screen" rel="stylesheet" type="text/css">
    <link href="css/custom.css" media="screen" rel="stylesheet" type="text/css">
    <style type="text/css" media="screen">
      input.invalid {
        border: 2px solid red;
      }

      .validation.failed:after {
        color: red;
        content: 'Validation failed';
      }

      .validation.passed:after {
        color: green;
        content: 'Validation passed';
      }
    </style>
</head>
<body>
  <%= yield %>
  <script type="text/javascript">
  Stripe.setPublishableKey('<%= settings.publishable_key %>');
  </script>
</body>
</html>
